@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply text-base leading-relaxed text-black dark:text-gray-300 md:text-lg lg:leading-loose;
}

img {
  @apply rounded-lg shadow-xl dark:shadow-none;
}

code {
  @apply rounded-md dark:bg-zinc-700 dark:text-green-400;
}

ul,
li {
  @apply text-base leading-relaxed text-black dark:text-gray-300 md:text-lg lg:leading-loose;
}

::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

li.custom-list:before {
  content: '\2022'; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url('/static/icons/checklist.svg');
  left: -0.7em;
  top: -0.3em;
}
li.check:before {
  left: -0.5em;
  background-image: url('/static/icons/jam_check.svg');
  top: -0.5em;
  font-size: 400%;
}
.main-logo {
  border-radius: unset;
  --tw-shadow: unset;
  --tw-shadow-colored: unset;
  --box-shadow: unset;
}
